### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/


### Project ###
target/
logs/
LOG_PATH_IS_UNDEFINED/
!.mvn/wrapper/maven-wrapper.jar
